* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::before,
*::after {
  box-sizing: border-box;
}
ol,
li {
  list-style: none;
}
body {
  overflow: hidden;
}

.global > section {
  width: 50vw;
  height: 50vh;
}
.global {
  display: flex;
  flex-wrap: wrap;
}
